{
  "env": {
    "node": true
  },
  "extends": ["standard"],
  "rules": {
    "prefer-template": 1,
    "prefer-const": 1,
    "valid-jsdoc": ["error", {
      "requireReturn": false,
      "preferType": {
        "object": "Object"
      },
      "requireReturnDescription": false,
      "requireParamDescription": false,
      "matchDescription": ".+"
    }],
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": true,
        "ArrowFunctionExpression": true,
        "FunctionExpression": true
      }
    }]
  }
}
